<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.powerall.plugin.updateapp"
    version="0.0.1">

    <name>UpdateAppPlugin</name>
    <description>UpdateAppPlugin plugin description</description>
    <license>Apache 2.0</license>
	<keywords>powerall,updateapp,powerall</keywords>
	
	<js-module src="www/updateAppPlugin.js" name="UpdateAppPlugin">
		<clobbers target="updateApp" />
	</js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="UpdateAppPlugin">
                <param name="android-package" value="com.powerall.plugin.updateapp.UpdateAppPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
    		<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <source-file src="src/android/UpdateAppPlugin.java" target-dir="src/com/powerall/plugin/updateapp" />
        <source-file src="update_app_strings.xml" target-dir="res/values" />
    </platform>  

</plugin>
